*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  background: linear-gradient(150deg, #8080F0, #008000);
  min-height: 100vh;
}

.tablero span{
  width: 40px;
  height: 40px;
  background: white;
  border: 3px black solid;
  position: absolute;
}

.tablero span:first-child{
  top: 576px;
  left: 300px;
}

.tablero span:nth-child(2){
  top: 539px;
  left: 300px;
}

.tablero span:nth-child(3){
  top: 502px;
  left: 300px;
}

.tablero span:nth-child(4){
  top: 465px;
  left: 300px;
}

.tablero span:nth-child(5){
  top: 428px;
  left: 300px;
}

.tablero span:nth-child(6){
  top: 391px;
  left: 300px;
}

.tablero span:nth-child(7){
  top: 354px;
  left: 263px;
}

.tablero span:nth-child(8){
  top: 354px;
  left: 226px;
}

.tablero span:nth-child(9){
  top: 354px;
  left: 189px;
}

.tablero span:nth-child(10){
  top: 354px;
  left: 152px;
}

.tablero span:nth-child(11){
  top: 354px;
  left: 115px;
}

.tablero span:nth-child(12){
  top: 354px;
  left: 78px;
}

.tablero span:nth-child(13){
  top: 317px;
  left: 78px;
}

.tablero span:nth-child(14){
  top: 280px;
  left: 78px;
}

.tablero span:nth-child(15){
  top: 280px;
  left: 115px;
}

.tablero span:nth-child(16){
  top: 280px;
  left: 152px;
}

.tablero span:nth-child(17){
  top: 280px;
  left: 189px;
}

.tablero span:nth-child(18){
  top: 280px;
  left: 226px;
}

.tablero span:nth-child(19){
  top: 280px;
  left: 263px;
}

.tablero span:nth-child(20){
  top: 243px;
  left: 300px;
}

.tablero span:nth-child(21){
  top: 206px;
  left: 300px;
}

.tablero span:nth-child(22){
  top: 169px;
  left: 300px;
}

.tablero span:nth-child(23){
  top: 132px;
  left: 300px;
}

.tablero span:nth-child(24){
  top: 95px;
  left: 300px;
}

.tablero span:nth-child(25){
  top: 58px;
  left: 300px;
}

.tablero span:nth-child(26){
  top: 58px;
  left: 337px;
}

.tablero span:nth-child(27){
  top: 58px;
  left: 374px;
}

.tablero span:nth-child(28){
  top: 95px;
  left: 374px;
}

.tablero span:nth-child(29){
  top: 132px;
  left: 374px;
}

.tablero span:nth-child(30){
  top: 169px;
  left: 374px;
}

.tablero span:nth-child(31){
  top: 206px;
  left: 374px;
}

.tablero span:nth-child(32){
  top: 243px;
  left: 374px;
}

.tablero span:nth-child(33){
  top: 280px;
  left: 411px;
}

.tablero span:nth-child(34){
  top: 280px;
  left: 448px;
}

.tablero span:nth-child(35){
  top: 280px;
  left: 485px;
}

.tablero span:nth-child(36){
  top: 280px;
  left: 522px;
}

.tablero span:nth-child(37){
  top: 280px;
  left: 559px;
}

.tablero span:nth-child(38){
  top: 280px;
  left: 596px;
}

.tablero span:nth-child(39){
  top: 317px;
  left: 596px;
}

.tablero span:nth-child(40){
  top: 354px;
  left: 596px;
}

.tablero span:nth-child(41){
  top: 354px;
  left: 559px;
}

.tablero span:nth-child(42){
  top: 354px;
  left: 522px;
}

.tablero span:nth-child(43){
  top: 354px;
  left: 485px;
}

.tablero span:nth-child(44){
  top: 354px;
  left: 448px;
}

.tablero span:nth-child(45){
  top: 354px;
  left: 411px;
}

.tablero span:nth-child(46){
  top: 391px;
  left: 374px;
}

.tablero span:nth-child(47){
  top: 428px;
  left: 374px;
}

.tablero span:nth-child(48){
  top: 465px;
  left: 374px;
}

.tablero span:nth-child(49){
  top: 502px;
  left: 374px;
}

.tablero span:nth-child(50){
  top: 539px;
  left: 374px;
}

.tablero span:nth-child(51){
  top: 576px;
  left: 374px;
}

.tablero span:nth-child(52){
  top: 576px;
  left: 337px;
}
