*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  background: linear-gradient(150deg, #8080F0, #008000);
  min-height: 100vh;
}

.tablero span{
  width: 40px;
  height: 40px;
  background: white;
  border: 3px black solid;
  position: absolute;
}

.tablero span:first-child{
  top: 576px;
  left: 300px;
}

.tablero span:nth-child(2){
  top: 538px;
  left: 300px;
}

.tablero span:nth-child(3){
  top: 500px;
  left: 300px;
}

.tablero span:nth-child(4){
  top: 462px;
  left: 300px;
}

.tablero span:nth-child(5){
  top: 424px;
  left: 300px;
}

.tablero span:nth-child(6){
  top: 386px;
  left: 300px;
}

.tablero span:nth-child(7){
  top: 348px;
  left: 262px;
}

.tablero span:nth-child(8){
  top: 348px;
  left: 224px;
}

.tablero span:nth-child(9){
  top: 348px;
  left: 186px;
}

.tablero span:nth-child(10){
  top: 348px;
  left: 148px;
}

.tablero span:nth-child(11){
  top: 348px;
  left: 110px;
}

.tablero span:nth-child(12){
  top: 348px;
  left: 72px;
}

.tablero span:nth-child(13){
  top: 310px;
  left: 72px;
}

.tablero span:nth-child(14){
  top: 272px;
  left: 72px;
}

.tablero span:nth-child(15){
  top: 272px;
  left: 110px;
}

.tablero span:nth-child(16){
  top: 272px;
  left: 148px;
}

.tablero span:nth-child(17){
  top: 272px;
  left: 186px;
}

.tablero span:nth-child(18){
  top: 272px;
  left: 224px;
}

.tablero span:nth-child(19){
  top: 272px;
  left: 262px;
}

.tablero span:nth-child(20){
  top: 234px;
  left: 300px;
}

.tablero span:nth-child(21){
  top: 196px;
  left: 300px;
}

.tablero span:nth-child(22){
  top: 158px;
  left: 300px;
}

.tablero span:nth-child(23){
  top: 120px;
  left: 300px;
}

.tablero span:nth-child(24){
  top: 82px;
  left: 300px;
}

.tablero span:nth-child(25){
  top: 44px;
  left: 300px;
}

.tablero span:nth-child(26){
  top: 44px;
  left: 338px;
}

.tablero span:nth-child(27){
  top: 44px;
  left: 376px;
}

.tablero span:nth-child(28){
  top: 82px;
  left: 376px;
}

.tablero span:nth-child(29){
  top: 120px;
  left: 376px;
}

.tablero span:nth-child(30){
  top: 158px;
  left: 376px;
}

.tablero span:nth-child(31){
  top: 196px;
  left: 376px;
}

.tablero span:nth-child(32){
  top: 234px;
  left: 376px;
}

.tablero span:nth-child(33){
  top: 272px;
  left: 414px;
}

.tablero span:nth-child(34){
  top: 272px;
  left: 452px;
}

.tablero span:nth-child(35){
  top: 272px;
  left: 490px;
}

.tablero span:nth-child(36){
  top: 272px;
  left: 528px;
}

.tablero span:nth-child(37){
  top: 272px;
  left: 566px;
}

.tablero span:nth-child(38){
  top: 272px;
  left: 604px;
}

.tablero span:nth-child(39){
  top: 310px;
  left: 604px;
}

.tablero span:nth-child(40){
  top: 348px;
  left: 604px;
}

.tablero span:nth-child(41){
  top: 348px;
  left: 566px;
}

.tablero span:nth-child(42){
  top: 348px;
  left: 528px;
}

.tablero span:nth-child(43){
  top: 348px;
  left: 490px;
}

.tablero span:nth-child(44){
  top: 348px;
  left: 452px;
}

.tablero span:nth-child(45){
  top: 348px;
  left: 414px;
}

.tablero span:nth-child(46){
  top: 386px;
  left: 376px;
}

.tablero span:nth-child(47){
  top: 424px;
  left: 376px;
}

.tablero span:nth-child(48){
  top: 462px;
  left: 376px;
}

.tablero span:nth-child(49){
  top: 500px;
  left: 376px;
}

.tablero span:nth-child(50){
  top: 538px;
  left: 376px;
}

.tablero span:nth-child(51){
  top: 576px;
  left: 376px;
}

.tablero span:nth-child(52){
  top: 576px;
  left: 338px;
}
